.popup__form-name {
    width: 82.25%;/*84%;*/
    margin: 54px auto 0/* auto*/;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    color: #000000;
}

@media screen and (max-width: 450px) {
    .popup__form-name {
        margin: 75px auto 0;
    }
}