.profile__avatar {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: 0 30px 0 0;
    /*margin-right: 30px;*/
    background-image: url(../../../images/avatar.jpg);
    background-size: contain;
}

@media screen and (max-width: 649px) {
    .profile__avatar {
        margin: 0 0 26px;
    }
}