.popup__close-button {
    position: absolute;
    right: -40px;
    top: -40px;
    transition: opacity 0.3s ease-in-out;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.popup__close-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 649px) {
    .popup__close-button {
        right: 0;
        top: -40px;
    }
}

@media screen and (max-width: 450px) {
    .popup__close-button {
        right: 0;
        top: -36px;
    }
}